html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.body-error {
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.body-error img {
    width: 400px;
}

.link-redirect {
    margin-top: 40px;
    font-weight: bold;
    font: bold 35px "Nunito",sans-serif;
    color: black;
}

.link-redirect:hover {
    color: black !important;
    text-decoration: none !important;
}